<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
    <section class="section projects" id="projects">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Projects</h2>
                <p class="section-subtitle">
                    Explore some of my recent projects
                </p>
            </div>
            <div class="projects-container">
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/restapi.jpeg" alt="rest">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">Data JPA</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Build REST APIs with Spring and Spring Boot</h3>
                        <p class="project-description">
                            In this project, I have created a production-grade REST API that connects to a MySQL database using JPA/Hibernate
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/prajwalkk22/REST-API">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="https://.postman.co/workspace/My-Workspace~510811ae-c8f3-410d-8b07-f1e53b468ae2/collection/39572117-a47d1916-9073-4b9d-9cbf-f5e44a830cb3?action=share&creator=39572117&active-environment=39572117-f7b96474-6a85-4427-916a-0b38238fc764" class="project-link">
                                view <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>
</th:block>
</html>
